body { font-family: 'Rajdhani', sans-serif;
}



h1 {
    color: rgb(96, 46, 130);
    display: block;
   
    font-size: 24px;
    font-weight: 600;
   
    line-height: 28px;
  margin-bottom: 0;

}

ul {
    margin: 0; 
    padding: 0;
}

li {
color: #70757a;
list-style: none;
display: block;
margin-left: 0;
padding: 0;
font-size: 16px;
font-weight: 100;
line-height: 19px;


}

.btn {color: white;
background-color: rgb(247, 100, 42);
border: none;
border-radius: 20px;
 }

.btn:hover {background-color: rgb(96, 46, 130);}

li.first-letter{
    text-transform: capitalize;
}

.weather-app-wrapper
{  max-width: 600px; 
    margin: 30px auto; 
    

}
.weather-app{
  
    padding: 20px; 
    border: 1px solid#dadde1;
    border-radius: 10px;
    background-color: rgb(227, 219, 215);
}
.overview{
    margin-bottom: 20px;
}
.weather-temperature img 
{ 
    margin-right: 5px; 
    height: 64px; 
    width: 64px;
}

.weather-temperature strong{
    
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
} 
.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
}